 AddDefaultCharset ISO-8859-1
 
 # Ocultar "index of"
 Options -Indexes
 
 # Ocultar directorios del index
 # HIDE /theme DIRECTORY
 # IndexIgnore /log /web /templates /files /manager /DAO /includes
 
 <Files .htaccess>
deny from all
</Files>

# Bloquea archivos de log
<Files ~ "\.log$">
Deny from all
</Files>

